{{!-- render các khóa học --}}
{{!-- this tương ứng với từng document --}}
{{!-- Nhận key từ bên controller và chứ value của key đó --}}
{{!-- mt-4 cách top một đoạn. Sau đó sử dụng grid chia layout --}}
<div class="mt-3">

    <!-- As a link -->
    <div class="container">
        <h3 class="text-success">PHIM {{toUpper cateName}}</h3>
        <nav class="navbar bg-body-secondary mt-2">
            <div class="container-fluid">
                <p class="navbar-brand m-0"><a class="text-success text-decoration-none fw-bold" href="/"><i class="fa-solid fa-house me-2" style="color: #258d6e;"></i>Phim mới ></a><span
                        class="fs-6 ">{{cateName}}</span></p>
            </div>
        </nav>

        <!-- As a heading -->
        <nav class="navbar bg-dark-subtle mt-2 mb-4">
            <div class="container-fluid">
                <p class="navbar-brand mb-0 fs-6">Khám phá danh sách <span class="text-success fw-bold">{{cateName}}</span> mới nhất và hấp dẫn, cập nhật liên
                    tục trên phimchill.net 
                </p>
            </div>
        </nav>

    </div>

    <div class="container">
        <div class="row">
            {{!-- sử dụng each courses để lặp qua các document --}}

            {{#each courses}}
            <div class="col-sm-6 col-lg-3">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.image}}">
                </a>

                <div class="card-body">
                    <a class="text-decoration-none" href="/courses/{{this.slug}}">
                        <h5 class="card-title mt-2 ">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{{this.description}}}</p>

                    {{!-- <button class="btn btn-primary" type="submit">Mua khóa học</button> --}}
                </div>
            </div>

            {{/each}}

        </div>
    </div>

</div>
</div>