<div class="mt-4">
    <h3>Cập nhật phim</h3>
    <form class="mt-4" method="POST" action="/admin/{{courses._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Tên phim</label>
            <input type="text" class="form-control" name="name" value="{{courses.name}}" id="name"
                placeholder="Nhập tên khóa học">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Mô tả phim</label>
            {{!-- text area nhận value dạng childen --}}
            <textarea type="text" class="form-control" name="description" id="description"
                placeholder="Nhập mô tả">{{{courses.description}}}</textarea>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Thể loại</label>
            <select class="form-select" name="category" id="category" aria-label="Default select example" >
                <option value="{{courses.category._id}}" selected>{{courses.category.name}}</option>

                <!-- Các option khác, sẽ được ẩn nếu trùng với giá trị hiện tại sử dụng if của handerbars -->
                {{#each categories}}
                {{#if (eq this._id ../courses.category._id)}}
                
                <!-- Không hiển thị option nếu categories.name === courses.category -->
                {{else}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/if}}
                {{/each}}
            </select>
        </div>
         <div class="mb-3">
            <label for="catelist" class="form-label">Danh mục</label>
            <select class="form-select" name="catelist" id="catelist" aria-label="Default select example">
                <option value="{{courses.catelist._id}}" selected>{{courses.catelist.name}}</option>

                <!-- Các option khác, sẽ được ẩn nếu trùng với giá trị hiện tại sử dụng if của handerbars -->
                {{#each catelist}}
                {{#if (eq this._id ../courses.catelist._id)}}
                <!-- Không hiển thị option nếu categories.name === courses.category -->
                {{else}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/if}}
                {{/each}}
            </select>
        </div>
        <div class="mb-3">
            <label for="countries" class="form-label">Quốc gia</label>
            <select class="form-select" name="countries" id="countries">
                <option value="{{courses.countries}}" selected>{{countryName courses.countries}}</option>
                {{#each availableCountries}}
                {{#if (eq this../courses.countries)}}
                <!-- Không hiển thị option nếu categories.name === courses.category -->
                {{else}}
                <option value="{{this}}">{{countryName this}}</option>
                {{/if}}
                {{/each}}
            </select>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">VideoId</label>
            <input type="text" class="form-control" name="videoid" value="{{courses.videoid}}" id="videoid"
                placeholder="VideoId">
        </div>
        <button type="submit" class="btn btn-primary">Sửa</button>
    </form>

</div>
<script>
    CKEDITOR.replace('description')
</script>