<form name="container-form" class="mt-2" method="POST" action="/admin/handle-form-actions">
    <div>
        <h3>Quản lý phim</h3>
        <div class="d-flex align-items-center justify-content-between">
            <a href="/admin/trash/courses" class="text-decoration-none"><i class="fa-solid fa-trash me-2"
                    style="color: #74C0FC;"></i>Thùng rác <span>{{deleteCourse}}</span></a>
            <a class="btn btn-primary" href="/admin/create" role="button">Add Film</a>
        </div>
    </div>

    {{!-- d-flex: class để thực hiện flex --}}
    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkAll">
            <label class="form-check-label" for="checkAll">
                Chọn tất cả
            </label>
        </div>

        <select class="form-select form-select-sm checkbox-select-all-options" aria-label="Default select example"
            name="action" required>
            <option value="">-- Hành động --</option>
            <option value="delete">Xóa</option>

        </select>

        <button type="submit" class="btn btn-primary btn-sm btn-check-all-submit disabled">Thực hiện</button>


</form>

<form class="d-flex search-film" role="search">
    <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
</div>



{{!-- default table --}}
<table id="defaultCoursesTable" class="table mt-4">
    <thead>

        {{!-- colspan là cột này bằng bn lần cột cơ sở trong table --}}
        <th scope="col" colspan="2">#</th>
        <th scope="col">
            Tên phim
            {{!-- sử dụng {{{ }}}: do handbars có cơ chế bảo vệ tránh bị tấn công xxs nên
            khi thêm mã code thì sẽ được chuyển thành $lt để render dạng chuỗi ko phải mã html
            --}}
            {{{sort 'name' _sort}}}

        </th>
        <th scope="col">Mô tả</th>
        <th scope="col">Danh mục</th>
        <th scope="col">Thể loại</th>
        <th scope="col">Quốc gia</th>
        <th scope="col">Thời gian tạo
            {{{sort 'createdAt' _sort}}}
        </th>
        <th scope="col">Chức năng</th>

    </thead>
    <tbody>
        {{#if noResultsFound}}
        <tr>
            <td class="text-center" colspan="8">Không tìm thấy phim hợp lệ</td>
        </tr>
        {{else}}

        {{#each courses}}
        <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="courseid[]" value="{{this._id}}">

                </div>
            </td>
            {{!-- {{index}} Lấy ra chỉ mục của array --}}
            {{!-- tạo ra function sum ở Index.js nhận 2 biến index và 1 --}}
            <td scope="row">{{sum @index 1}}</td>
            <td>{{this.name}}</td>

            <td>{{{this.description}}}</td>
            <td>{{this.catelist.name}}</td>
            <td>{{this.category.name}}</td>
            <td>{{countryName this.countries}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <a href="/admin/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    data-id="{{this._id}}">Xóa</a>
            </td>
        </tr>



        {{!-- handlebars cung cấp {{else}} khi each không có dữ liệu thì vào else --}}
        {{else}}
        {{!-- colspan='5' 1 thẻ td chiếm hết 5 cột --}}
        <tr>
            {{!-- class text-center căn giữa trong boostrap --}}
            <td class="text-center" colspan="5">Bạn chưa đăng bộ phim nào
                {{!-- tăng trải nghiệm người dùng --}}
                <a href="/admin/create">Đăng bộ phim</a>
            </td>
        </tr>
        {{/each}}
        {{/if}}
    </tbody>
</table>

{{!-- Table search --}}

<table id="searchResultsTable" class="table" style="display:none">
    <th>Tên phim</th>
    <th>Thể loại</th>
    <th>Quốc gia</th>

    <tbody id="searchResults"></tbody>
</table>


{{!-- confirm delete --}}

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Thông báo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button id="btn-delete" type="button" class="btn btn-danger">Yes</button>
            </div>
        </div>
    </div>
</div>

{{!-- DELETE HIDDEN FORM --}}
<form name="delete-form" method="POST"></form>


{{!-- dùng boostrap để lấy được data khi nhấn nút yes--}}
<script>

    var deleteid;
    var deleteform = document.querySelector('form[name="delete-form"]');
    const deleteModal = document.getElementById('deleteModal')
    var checkAll = $('#checkAll')
    var checkItem = $('input[name="courseid[]"]')
    var checkAllSubmitBtn = $('.btn-check-all-submit')
    var containerForm = $('form[name="container-form"]')

    if (deleteModal) {
        deleteModal.addEventListener('show.bs.modal', event => {
            var button = event.relatedTarget
            deleteid = button.getAttribute('data-id')

        });

    }

    var deleteButton = document.getElementById('btn-delete');
    // Khi mà người dùng nhấn nút click
    deleteButton.onclick = function () {
        deleteform.action = `/admin/${deleteid}?_method=DELETE`
        deleteform.submit();

    }
    // phương thức của jquery khi bất sự kiện
    // $(this) lấy ra được element đó 
    // sử dụng prop để thêm thuộc tính cho element = setAttribute('checked','true')
    checkAll.change(function () {
        var isCheckAll = $(this).prop('checked');
        isCheckAll ? checkItem.prop('checked', true) : checkItem.prop('checked', false);
        renderCheckAllSubmitButton()
    })

    // checkItems clicked
    checkItem.change(function () {
        // Khó cần đọc kĩ
        var isCheckAll = checkItem.length === $('input[name="courseid[]"]:checked').length
        // Kiểm tra nếu như các checkItem đều được check thì isCheckAll sẽ là true còn không thì ngược lại 
        isCheckAll ? checkAll.prop('checked', true) : checkAll.prop('checked', false)

        // enable submit button when check all

        renderCheckAllSubmitButton()

    })
    // checkAll submit button clicked
    // bỏ đi hành vi mặc định khi nhấn nút Thực hiện


    // kiểm tra nếu như nhấn submit mà chưa chọn hành động sẽ require 
    // đồng thời bỏ đi hành động mặc định
    // nếu đã chọn hành động thì sẽ thực hiện hành vi mặc định của submit
    checkAllSubmitBtn.on('submit', function (e) {
        var isSubmittable = !$(this).hasClass('disabled')
        if (!isSubmittable) {
            e.preventDefault()
        }
    })

    function renderCheckAllSubmitButton() {
        // số lượng các ô đã check ('input[name="courseid[]"]:checked').length
        var checkCount = $('input[name="courseid[]"]:checked').length
        if (checkCount > 0) {
            // console ra xem các phương thức của element được select theo jquery
            checkAllSubmitBtn.removeClass('disabled')
        }
        else {
            checkAllSubmitBtn.addClass('disabled')
        }
    }

    // Tìm kiếm và đổ dữ liệu vào bảng mới thay cho bảng mặc định 


</script>
{{!-- delteform.submit() sẽ submit form đi với phương thức DELETE --}}