<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container">
    <a href="/" class="navbar-brand" href="#">PhimChil.Net</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="#">Phim mới</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="#">Phim bộ</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Thể loại
          </a>
          <ul class="dropdown-menu">
            {{#each categories}}
            <li><a class="dropdown-item" href="/genre/{{this._id}}">{{this.name}}</a></li>
            {{/each}}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Quốc gia
          </a>
          <ul class="dropdown-menu">
            {{#each countries}}
            <li><a class="dropdown-item" href="/country/{{this}}">{{countryName this}}</a></li>
            {{/each}}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/category/{{movie}}">Phim chiếu rạp</a>
        </li>


      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://lh3.google.com/u/0/ogw/AF2bZyh7KNyROmACdxmvLsceoJtP5ErMolIc1YNviYikIqJwsA=s32-c-mo" alt=""
              class="user-avatar">
            Hi <span class="usernameDisplay">guest</span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/infor">Đổi mật khẩu</a></li>
            <li><a class="dropdown-item updateBtn">Cập nhật thông tin</a></li>
            <li><a class="dropdown-item logout" href="/auth/login">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</nav>